@import url("https://fonts.googleapis.com/css2?family=Afacad&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #014e40;
  --color-secondary: #03c2a0;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Afacad", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(247deg, #014e40, #212529) fixed;
}
